* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    width: 500px;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* list-style-position: inside;
    list-style-image: url(img/bullet.gif); */
    list-style-type: none;
    color: #fff000;
}
li{
background-color: #00ff00;
padding: 15px;
margin: 2px;
background-image: url(img/bullet.gif);
background-repeat: no-repeat;
background-position: left center;
padding-left: 45px;
background-size: 40px;
}