* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

table{
    border: solid 1px black;
    width: 800px;
    height: 600px;
    margin: 10px auto;
    border-collapse: collapse;
}
td{
    border: solid 1px black;

}/*
td:hover{
    background-color:red;
}
tr:hover{
    background-color: rgb(17, 158, 88);
}
td:nth-child(add):hover{
    background-color: rgb(233, 226, 18);
}
td:nth-child(even):hover{
    background-color: rgb(24, 71, 228);
} */ 
/* td:nth-child(2n){
    background-color: rgb(189, 6, 6); */
/* 
tr:first-child{
    background-color: rgba(189, 6, 6,0.7);
}
td:hover{
    background-color: rgb(189, 6, 6);
}
tr:nth-child(2){
    background-color: rgba(255, 173, 49, 0.7);
}
td:hover{
    background-color:  rgba(255, 173, 49, 1);
}
tr:nth-child(3){
    background-color: rgba(255, 242, 64, 0.7);
}
td:hover{
    background-color:  rgba(255, 242, 64, 1);
}
tr:nth-child(4){
    background-color: rgba(43, 233, 208, 0.7);
}
td:nth-child(4):hover{
    background-color:  rgba(43, 233, 208, 1);
}
tr:nth-child(5){
    background-color: rgba(21, 24, 204, 0.7);
}
td:nth-child(5) :hover{
    background-color:  rgba(21, 24, 204, 1);
}
tr:nth-child(6){
    background-color: rgba(233, 43, 195, 0.7);
}
td:nth-child(6) :hover{
    background-color:  rgba(233, 43, 195, 1);
} */
tr:nth-child(odd) td:nth-child(odd),tr:nth-child(even) td:nth-child(even){
    background-color: #000;
}
