.* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
.wrapper{
    width: 300px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}
.ramka{
    content: "";
    position: absolute;
    left: 0;
    top: 200px;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 25px 0;
    transform: translatey(100px);
    transition-property: transform;
    transition-duration: 0.8s;
}
.wrapper:hover .ramka{
    transform: scale(1);

}
.wrapper:hover img{
    transform: scale(1.2);
    filter: grayscale(0);
}
img{
    width: 100%;
    display: block;
    transition-property: transform,filter;
    transition-duration: 1.8s;
    filter: grayscale(1);
}