* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

.noch{
    background-image:linear-gradient(rgb(9, 54, 95), rgb(3, 109, 208) );
    width: 800px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -200px;
    border-radius: 15px;
}
.zvezda1{
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    left: 20%;
    top: 20%;
    box-shadow: 0px -1px 9px 6px rgb(255 253 253), 2px -1px 15px 8px rgb(176 170 170);
    border-radius: 50%;
}
.zvezda2{
    width: 5px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    left: 80%;
    top: 40%;
    box-shadow: 0px -1px 9px 6px rgb(255 253 253), 2px -1px 15px 8px rgb(176 170 170);
    border-radius: 50%;
}
.zvezda3{
    width: 7px;
    height: 7px;
    background-color: #fff;
    position: absolute;
    left: 40%;
    top: 70%;
    box-shadow: 0px -1px 9px 6px rgb(255 253 253), 2px -1px 15px 8px rgb(176 170 170);
    border-radius: 50%;
}
.luna{
    width: 200px;
    height: 200px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: -33px 3px 0px 10px rgb(229 234 15);
    position: absolute;
    left:60% ;
    top: 20%;
}

.circle1{
    background-color: rgba(255, 255, 255, 0.45);
    width: 90px;
    height:90px;
    position: absolute;
    left: 14.4%;
    top: 45%;
    border-radius: 45px 45px 0 45px;

}
.circle2{
    background-color: rgba(255, 255, 255, 0.45);
    width: 150px;
    height:150px;
    position: absolute;
    left: 25.7%;
    top: 30%;
    border-radius: 75px 75px 0 0;

}
.circle3{
    background-color: rgba(255, 255, 255, 0.45);
    width: 120px;
    height:120px;
    position: absolute;
    left: 44.5%;
    top: 37.5%;
    border-radius: 60px 60px 60px 0px;

}
.circle4{
    background-color: rgba(255, 255, 255, 0.45);
    width: 90px;
    height:90px;
    position: absolute;
    left: 43.7%;
    top: 60%;
    border-radius: 45px 45px 0 45px;

}
.circle5{
    background-color: rgba(255, 255, 255, 0.45);
    width: 150px;
    height:150px;
    position: absolute;
    left: 55%;
    top: 45%;
    border-radius: 75px 75px 0 0;

}
.circle6{
    background-color: rgba(255, 255, 255, 0.45);
    width: 120px;
    height:120px;
    position: absolute;
    left: 73.8%;
    top: 52.5%;
    border-radius: 60px 60px 60px 0px;

}