* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
/* 
.main {
    border: solid black 1px;
    width: 300px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
}
.b1, .b2{
    width: 50px;
    height: 50px;
    border: solid black 1px;
    border-radius: 50%;

}
.b3{
    width: 100px;
    height: 50px;
    border: solid black 1px;
    border-radius:   0  0 50px  50px ;
    margin:50px 60px 50px 90px;
} */

.face {
    width:300px;
    height:300px;
    position:absolute;
    background-color: #face00;
    left:50%;
    top:50%;
    border-radius:150px 150px 30px 30px;
}

.glaz1, .glaz2 {
    background-color: #fff;
    width: 60px;
    height:60px;
    border-radius: 100%;
    position: absolute;
    top: 40%;
}

.glaz1{
    left:80px;
}

.glaz2 {
    right:80px;
}
.circle {
    width: 30px;
    height:30px;
    border-radius:100%;
    background-color:#04045c;
    position: absolute;
    left:50%;
    top:50%;
    margin-top:-5px;
    margin-left:-10px;
}
.rot{
    width: 30px;
    height:30px;
}